# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.GPSMobileGame.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Adam\Documents\GitHub\GPSMobileGame\.idea\.idea.GPSMobileGame\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
